{% extends 'app/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <br>
        <h2 class="text-white">Category List</h2>
        <br>
    </div>
</div>
<div class="row">   
    
        {% for category in category_list %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a  href="{% url 'booksreviews:category_detail' category.name_en %}">{{ category.name }}</a>&nbsp;<small>[&nbsp;{{ category.post_count }}&nbsp;]</small></h4>   
                    <hr>
                    {% for post in category.post_set.all|slice:":2" %}
                    <p><a href="{% url 'booksreviews:post_detail' post.id %}" style="color:black;">{{ post.title}}</a></p>
                    {% endfor %}
                    <br><br>
                    <a  href="{% url 'booksreviews:category_detail' category.name_en %}">このカテゴリの記事を全て見る</a>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
<br>
    <div class="col-md-3">
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ object.category}}</h5>
                <p>このカテゴリの他の記事</p>
                    {%for item in category_posts%}
                    <li class="list-group-item"><a href="{% url 'myapp:post_detail' item.id %}">{{ item.title }}</a></li>
                    {% endfor %}

                
            </div>

        </div>
    </div>

{% endblock %}