{% extends 'app/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                    <h2>Category List</h2>
            </div>
            <div class="card-body">
                <div class="row">   
                    
                        {% for category in category_list %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><a  href="{% url 'booksreviews:category_detail' category.name_en %}">{{ category.name }}</a>&nbsp;<small>[&nbsp;{{ category.post_count }}&nbsp;]</small></h4>   
                                    <hr>
                                    {% for post in category.post_set.all|slice:":2" %}
                                    <p><a href="{% url 'booksreviews:post_detail' post.id %}" class="fw-bold text-decoration-underline">{{ post.title}}</a></p>
                                    {% endfor %}
                                    <br><br>
                                    <a  href="{% url 'booksreviews:category_detail' category.name_en %}">このカテゴリの記事を全て見る</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}