{% extends 'app/base.html' %}

{% block content %}
<section class="text-center">
  <h4 class="mb-5 text-white"><strong>最近の投稿</strong></h4>
  <div class="row justify-content-evenly">
    <button id="color-change" type="button" class="btn col-4 text-white" style="background-color:#36563C">色を変更する</button>
    <button id="color-reset" type="button" class="btn col-4 text-white" style="background-color:#36563C">元に戻す</button>
  </div>
  <br>
  <br>
  <br>
  <div class="row">

    {% for item in post_list %}

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-header card-color">{{ item.category }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              {{ item.content|safe|truncatechars_html:30 }}
            </p>
            <a  href="{% url 'booksreviews:post_detail' item.id %}" type="button" class="btn btn-light-blue btn-md card-color">もっと読む</a>
            <br>
            <br>
            <i class="fa fa-heart" style="color:pink;"></i>&nbsp;{{ item.like_count }}
            <br>
          </div>
          <div class="card-footer">
            <small class="card-footer text-muted">by&nbsp;{{ item.author }}&nbsp; at&nbsp;{{ item.created_at.date }}&nbsp;</small>
            <br>
          </div>
        </div>
      </div>
    {% endfor %}
    <br>
    <br>
  </div>
  <div class="row justify-content-center">
    <a href="{% url 'booksreviews:post_list' %}" type="button" class="btn text-white col-4 ml-auto express" style="background-color:#36563C">全て表示</a>
  </div>
  <br>
</section>
{% endblock %}