{% extends 'app/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                    <h2>Login</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- どの入力エラーでも同じ値を表示する -->
                    {{form.non_field_errors}}
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors}}
                    <br>
                    {% endfor %}
                    <button type="submit" class="btn text-white" style="background-color:#36563C;">Login</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}