{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                    <h2>記事一覧</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="200px">タイトル</th>
                            <th width="400px">内容</th>
                            <th width="200px" >作成日時</th>
                            <th width="200px">更新日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- モデル名_listで自動的に渡される(query_setによる) -->
                        {% for item in post_list %}
                        <tr>
                            <td><a href="{% url 'booksreviews:post_detail' item.pk %}" class="fw-bold text-decoration-underline">{{item.title}}</a></td>
                            <td>{{item.content|safe|truncatechars_html:30}}</td>
                            <td>{{item.created_at.date}}</td>
                            <td>{{item.updated_at.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        {% include 'app/pagenation.html' %}
        <br>
    </div>

</div>

{% endblock %}



