{% extends 'app/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <br>
        <h2>検索結果</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>内容</th>
                    <th>作成日時</th>
                    <th>更新日時</th>
                </tr>
            </thead>
            <tbody>
                <!-- モデル名_listで自動的に渡される -->
                {% for item in search_list %}
                <tr>
                    <td><a href="{% url 'booksreviews:post_detail' item.pk %}">{{item.title}}</a></td>
                    <td>{{item.content}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.updated_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

</div>

{% endblock %}